<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
<meta charset ="UTF-8">
	<title>Angular Demo</title>
	<script src="lib/angular/angular.min.js"></script>
	
	<script src="js/controllers.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
</head>

<body>

<div class="main" ng-controller="MyController">

	<section class="tutorsPage">
	<div class="search">
	<h1>Tutors Directory</h1>
	<label>Search:</label>
	<input ng-model="query" placeholder="Search for tutors" autofocus>

	<label class="formgroup"> by
		<select ng-model="tutorsOrder">
			<option value="name">Name</option>
			<option value="course">Course</option>
		</select>
	</label>

	<label class="formgroup">
		<input type="radio" ng-model="direction" name="direction">
		ascending
	</label>

	<label class="formgroup">
		<input type="radio" ng-model="direction" name="direction" value="reverse">
		descending
	</label>
</div>

	<ul class="tutorslist">
		<li class="tutors cf" ng-repeat="tutor in tutors | filter:query | orderBy:tutorsOrder:direction">
		<img ng-src="images/{{tutor.photo}}" alt="Photo of {{tutor.name}}">
		
		<div class="info">
		<h2>{{tutor.name | uppercase}}</h2>
		<h2>{{tutor.course}}</h2>
		</div>

			
		</li>
	</ul>
</section>


	
</div>


</body>
</html>





