<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
	</head>
	<body>
		<table bgcolor="#414a51" background="/images/background.png" style="background-size:cover; background-repeat:repeat-x; background-position:top;" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr><td height="50"></td></tr>
			<tr>
				<td align="center">
					<table class="table-inner" width="500" border="0" cellspacing="0" cellpadding="0">
						<tr><td height="30" bgcolor="#FFFFFF"></td></tr><!--logo-->
						<tr>
							<td align="center" bgcolor="#FFFFFF">
								<a href="{{url}}">
									<img editable label="logo" style="display:block; line-height:0px; font-size:0px; border:0px;" src="/images/naveen.jpg" width="45%" height="43"  alt="img"/>
								</a>
							</td>
						</tr><!--end logo-->
						<tr><td height="25" bgcolor="#FFFFFF"></td></tr>
						<tr>
							<td bgcolor="#f3f3f3" align="center">
								<table align="center" class="table-inner" width="430" border="0" cellspacing="0" cellpadding="0">
									<tr><td height="40"></td></tr><!--headline-->
									<tr>
										<td align="center" style="font-family: 'Open Sans', Arial, sans-serif; font-size:36px;color:#414a51;font-weight: bold;letter-spacing: 2px;">
											<single label="headline">Welcome to Naveen!</single>
										</td>
									</tr><!--end headline-->
									<tr><td height="25"></td></tr>
									<tr>
										<td align="center">
											<table border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td align="center">
														<table width="5" border="0" align="center" cellpadding="0" cellspacing="0">
															<tr>
																<td width="5" height="5" bgcolor="#3F023F" style="border-radius:10px;"></td>
															</tr>
														</table>
													</td>
													<td width="15"></td>
													<td align="center">
														<table width="5" border="0" align="center" cellpadding="0" cellspacing="0">
															<tr>
																<td width="5" height="5" bgcolor="#3F023F" style="border-radius:10px;"></td>
															</tr>
														</table>
													</td>
													<td width="15"></td>
													<td align="center">
														<table width="5" border="0" align="center" cellpadding="0" cellspacing="0">
															<tr>
																<td width="5" height="5" bgcolor="#3F023F" style="border-radius:10px;"></td>
															</tr>
														</table>
													</td>
													<td width="15"></td>
													<td align="center">
														<table width="5" border="0" align="center" cellpadding="0" cellspacing="0">
															<tr>
																<td width="5" height="5" bgcolor="#3F023F" style="border-radius:10px;"></td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr><td height="25"></td></tr><!--content-->
									<tr>
										<td align="center" style="font-family: 'Open sans', Arial, sans-serif; color:#7f8c8d; font-size:14px; line-height: 28px;">
											<multi label="content">To Changed Your Password</multi>
										</td>
									</tr>
									<!--end content-->
									<tr><td height="40"></td></tr>
								</table>
							</td>
						</tr>
						<tr><td height="35" bgcolor="#FFFFFF"></td></tr><!--button-->
						<tr>
							<td align="center" bgcolor="#FFFFFF">
								<table class="buttonbox" border="0" align="center" cellpadding="0" cellspacing="0">
									<tr>
										<td><!--left-->
											<table align="center" class="table-full" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td align="center">
														<table border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#3F023F" class="textbutton" style="border-radius:4px;">
															<tr>
																<td height="45" align="center" style="font-family: 'Open sans', Arial, sans-serif; color:#FFFFFF; font-size:14px; line-height: 28px; padding-left: 20px;padding-right: 20px;font-weight: bold; ">
																	<a style="color: #FFFFFF; text-decoration: none;" href="{{resetLink}}">
																		<single label="button">Reset Password</single>
																	</a>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table><!--end left-->
										</td>
									</tr>
								</table>
							</td>
						</tr><!--end button-->
						<tr>
							<td height="45" align="center" bgcolor="#FFFFFF" style=" box-shadow:0px 3px 0px #ccd5dc;border-bottom-left-radius:6px;border-bottom-right-radius:6px;"></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr><td height="45"></td></tr>
		</table>
	</body>
</html>