<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
		<title>subject</title>
	</head>
	<body bgcolor="#414a51">
		<table bgcolor="#414a51" style="background-size:cover; background-position:top;" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr><td height="50"></td></tr>
			<tr>
				<td align="center">
					<table style=" box-shadow:0px 3px 0px #ccd5dc; border-radius:6px;" bgcolor="#FFFFFF" class="table600" width="500" border="0" align="center" cellpadding="0" cellspacing="0">
						<tr>
							<td align="center" >
								<table align="center" class="table-inner" width="440" border="0" cellspacing="0" cellpadding="0">
									<tr><td height="35"></td></tr>
									<tr>
										<td align="center" style="font-family: 'Open Sans', Arial, sans-serif; color:#95a5a6; font-size:12px; letter-spacing: 1px;line-height: 28px; font-style:italic;">
											<single label="slogan">Newsletter Bundle</single>
										</td>
									</tr>
									<tr><td height="25"></td></tr>
								</table>
							</td>
						</tr>
						<tr>
							<td align="center" bgcolor="#f3f3f3">
								<table class="table-inner" width="440" border="0" align="center" cellpadding="0" cellspacing="0">
									<tr><td height="35"></td></tr>
									<tr>
										<td align="center" style="font-family: 'Open Sans', Arial, sans-serif; color:#3b3b3b; font-size:26px; letter-spacing:2px;font-weight: bold;">
											<single label="title">Welcome to {{name}}</single>
										</td>
									</tr>
									<tr><td height="15"></td></tr>
									<tr>
										<td align="center">
											<table border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td align="center">
														<table width="5" border="0" align="center" cellpadding="0" cellspacing="0">
															<tr>
																<td width="5" height="5" bgcolor="#6ec8c7" style="border-radius:10px;"></td>
															</tr>
														</table>
													</td>
													<td width="15"></td>
													<td align="center">
														<table width="5" border="0" align="center" cellpadding="0" cellspacing="0">
															<tr>
																<td width="5" height="5" bgcolor="#6ec8c7" style="border-radius:10px;"></td>
															</tr>
														</table>
													</td>
													<td width="15"></td>
													<td align="center">
														<table width="5" border="0" align="center" cellpadding="0" cellspacing="0">
															<tr>
																<td width="5" height="5" bgcolor="#6ec8c7" style="border-radius:10px;"></td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr><td height="35"></td></tr>
									<tr><td height="40"></td></tr>
								</table>
							</td>
						</tr>
						<tr>
							<td align="center">
								<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
									<tr>
										<td width="75" align="right" valign="top">
											<table width="75" border="0" align="right" cellpadding="0" cellspacing="0">
												<tr><td height="25" bgcolor="#f3f3f3"></td></tr>
												<tr><td height="25"></td></tr>
											</table>
										</td>
										<td bgcolor="#f3f3f3"align="center">
											<table style="border-radius:6px;" class="textbutton" width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#6ec8c7">
												<tr><td height="2"></td></tr>
												<tr>
													<td height="50" align="center" style="padding-left: 10px;padding-right: 10px; font-family: 'Open Sans', Arial, sans-serif; font-size: 16px;color:#FFFFFF;font-weight: bold;">
														<a href="#">
															<single label="button">Register and send me a ticket</single>
														</a>
													</td>
												</tr>
												<tr><td height="2"></td></tr>
											</table>
										</td>
										<td width="75" align="left" valign="top">
											<table width="75" border="0" align="left" cellpadding="0" cellspacing="0">
												<tr>
													<td height="25" bgcolor="#f3f3f3"></td>
												</tr>
												<tr>
													<td height="25"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr><td height="30"></td></tr>
						<tr>
							<td align="center">
								<table align="center" class="table-inner" width="440" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td align="center" style="font-family: 'Open Sans', Arial, sans-serif; color:#7f8c8d; font-size:14px;line-height: 28px;;">
											<multi label="content">
												Progressively visualize goal-oriented web services through market positioning portals. Seamlessly envisionee.
											</multi>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr><td height="40"></td></tr>
						<tr>
							<td height="45" align="center" bgcolor="#f4f4f4" style="border-bottom-left-radius:6px;border-bottom-right-radius:6px;">
								<table align="center" class="table-inner" width="440" border="0" cellspacing="0" cellpadding="0">
									<tr><td height="10"></td></tr>
									<tr>
										<td class="preference-link" align="center" style="font-family: 'Open sans', Arial, sans-serif; color:#95a5a6; font-size:12px; line-height: auto;font-style: italic;">
											<multi label="preference">
												Try view on your
												<a href="#">webversion</a>
												or
												<a href="#">unsub</a>
											</multi>
										</td>
									</tr>
									<tr><td height="10"></td></tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr><td height="40"></td></tr>
		</table>
	</body>
</html>