@{layout('')}
@{meta('title', 'description', 'keywords')}

@{ng('angular', 'resource', 'route')}

<!-- /app/css/ -->
@{ngStyle('app')}

<!-- cdnjs -->
@{ngLocale('en-us')}

<!-- /app/controllers/ -->
@{ngController('home', 'user')}

<!DOCTYPE html>
<html ng-app="app">
<head>
    @{meta}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="all,follow" />
    @{head}
</head>
<body>

    <div class="container-background">
        <div class="container">
            <div ng-controller="HomeCtrl">{{ name}}

            </div>
        </div>
    </div>

    <div class="footer">
        <a href="http://www.totaljs.com"><img src="/img/totaljs.png" width="24" height="24" alt="total.js - web application framework for node.js" /></a>
    </div>


</body>
</html>